{% extends 'main/base.html' %}

{% block title%}
Login system
{% endblock %}

{% block topline%}
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" href="{% url 'home' %}">Main Page</a> 
        </nav>
    </div>
{% endblock %}


{% block mainbody %}
<h1>Login System</h1>
    {% if user.is_authenticated %}
        <a class="p-2 text-muted" href="logout_user">Log Out</a>
    {% else %} 
        <a class="p-2 text-muted" href="login_user">Log In</a>
        <a class="p-2 text-muted" href="register_user">Register</a>
    {% endif %}
{% endblock %}