{% extends 'main/base.html' %}

{% block title%}
All Information
{% endblock %}

{% block topline%}
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" href="{% url 'home' %}">Main Page</a> 
        </nav>
    </div>
{% endblock %}

{% block mainbody %}

	<h1>Login System</h1>
<br/>
		<form action="" method=POST>
			{% csrf_token %}

		<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">

  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>
			<input type="submit" value="Submit" class="btn btn-secondary">

		</form>


<br/><br/>	
{% endblock %}



<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Login System</title>
</head>
<body>
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" href="{% url 'home' %}">Main Page</a>
        </nav>
    </div>
    <h1>Login System</h1>
    <a class="p-2 text-muted" href="">Log In</a>
    <a class="p-2 text-muted" href="">Log Out</a>
</body>
</html>  -->