{% extends 'main/base.html' %}

{% block title%}
{{ title }}
{% endblock %}

{% block topline%}
    <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="{% url 'home' %}">Main Page</a> 
        <a class="p-2 text-muted" href="{% url 'all_data' %}">Data about previous days</a>
        <a class="p-2 text-muted" href="{% url 'create' %}">Add data</a>
        <a class="p-2 text-muted" href="{% url 'login_system' %}">log in/log out</a>

    </nav>
    </div>
{% endblock %}

{% block mainbody %}
    {% if user.is_authenticated %}
    <h1>Main Page</h1>
    <p>Welcome {{ user.username }} !!!</p>    
    <p>This is main page, there are links with other pages</p>   
    {% else %}
    <h1>Main Page</h1>
    <p>For more functional, please, log in.</p>
    <p>This is main page, there are links with other pages</p>
    {% endif %}
{% endblock %}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Main Page</title>
</head>
<body>
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" href="{% url 'home' %}">Main Page</a> 
            <a class="p-2 text-muted" href="{% url 'all_data' %}">Data about previous days</a> 
            <a class="p-2 text-muted" href="{% url 'login_system' %}">log in/log out</a>
        </nav>
    </div>
    <h1>Main Page</h1>
    <p>This is main page, there are links about other pages</p>
</body>
</html> -->