{% extends 'main/base.html' %}

{% block title%}
Sugar Counting
{% endblock %}

{% block topline %}
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" href="{% url 'home' %}">Main Page</a> 
        </nav>
    </div>
{% endblock %}

{% block mainbody %}
    {% if user.is_authenticated %}
    <h1>Add new row for today</h1>
    <form method="post">
        {% csrf_token %}
        {{form}}
        <pre></pre>
        <input type="submit">
        <span>{{ error }}</span>
    </form>
    {% else %}
    <p>You are not logged in</p>
    {% endif %}
{% endblock %}